.navbar{
        background-color: black;
        padding: 15px 30px;
        width: 100%
        }
        .nav-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        }
        .logo{
        color: white;
        font-size: 32px;
        font-weight: bold;
        }
        .nav-menu{
        display: flex;
        list-style: none;
        gap: 40px;
        }
        .nav-link{
        color: white;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        }
        .nav-link:hover{
        background-color: white;
        color: black;
        text-decoration: underline;
        border-radius: 15px;
        }
          main{
        background-color: teal;
        padding: 40px;
        border-radius:10px;
        margin: 20px auto;
        max-width: 1000px;
        }
        h1{
        border-radius: 10px;
        text-size: 30px;
        max-width:800px;
        text-align: center;
        text-decoration: underline;
        }
        p{
        color: white;
        }
        h2{
        border-bottom: 2px solid white;
        text-size: 30px;
        text-align: center;
        text-decoration: underline;
        }
        .hero-image{
        background-image: url("university-105709_1280.jpg");
        height: 400px;
        border-radius: 10px;
        background-size: cover;
        background-position: center;
        }
        .hero-text{
        font-size: 50px;
<!--        text-align: center;-->
        text-decoration: underline;
        position: relative;
        top: 50%;
        color: blue;
        }
        .youtube{
        display: flex;
        gap: 40px;
        width: 400px;
        }
